<div id="singleTemplate">
	
	<div class="profilePic"><a href=""><i class="fa fa-chevron-left"></i></a><img src="{{attributes.image}}"/></div>
	<div class="contactName innerText fname"><i class="fa fa-user"></i>{{attributes.fname}} {{attributes.lname}}</div>
	<div class="contactName innerText email"><i class="fa fa-envelope"></i>{{attributes.email}}</div>
	<div class="contactName innerText phone"><i class="fa fa-mobile"></i>{{attributes.phone}}</div>
	<div class="contactName innerText location"><i class="fa fa-globe"></i>{{attributes.city}}, {{attributes.state}}</div>
	
</div>